* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-grey)
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

:root{
  --color-light: #fff;
  --color-dark : #000;
  --color-grey: #f6f8fa;
  --gradient-blue: linear-gradient(
    13deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );

}

/* NAVBAR */

.navbar {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--color-light);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-navbar{
  color: var(--color-dark);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  display: flex;
  float: right;
}

.link-title{
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  display: flex;
  margin: 0px 20px;
  padding: 15px 30px;
  border-radius: 50px;
}
.link-title:hover{
  background: var(--gradient-blue);
  color:  var(--color-light);
}


.logo {
  width: 90px;
}


/* MAIN BACKGROUND */

.main-background {
  background: var(--gradient-blue);
  width: 100%;
  padding: 300px 0px;
  margin-top: 80px;
}

.main-text {
  color: var(--color-light);
  letter-spacing: 0.8px;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
}

.main-text-weight {
  -webkit-text-stroke: 1.5px var(--color-light);
  color: transparent;
}