* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7fb;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

:root {
  --color-light: #fff;
  --color-dark: #000;
  --bg-color-switch: #0d1117;
  --gradient-blue: linear-gradient(151deg, #0b2850 0, #040c21 36%);
  --color-blue: #0068aa;
}
/* NAVBAR */

.navbar {
  box-shadow: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 50px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}


.myemail {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  color: #000;
  text-decoration: underline;
}

.email {
  margin-top: 20px;
}

.box-navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

.link-navbar {
  color: var(--color-light);
  display: flex;
  float: right;
}

.link-title {
  color: var(--color-light);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  display: flex;
  margin: 0px 60px;
  padding: 12px 0px;
  border-bottom: 1px solid transparent;
}
.link-title:hover {
  border-bottom: 1px solid #ffffff;
  transition: 0.5s;
}

.logo {
  width: 70px;
  margin-top: 3px;
  fill: var(--color-light);
}
    
  /* MAIN BACKGROUND */
  
/* MAIN BACKGROUND */

.main-background {
  background: var(--gradient-blue);
  width: 100%;
  padding: 350px 0px;
}

.main-text {
  color: var(--color-light);
  letter-spacing: 0.8px;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
}

.main-text-weight {
  -webkit-text-stroke: 1.5px var(--color-light);
  color: transparent;
}

/* FLEX BOX */

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  margin: 50px 0px;
}

.box {
  width: 450px;
  margin: 20px 20px;
  border-radius: 10px;
  align-self: auto;
  padding: 30px 30px;
  background-color: #ffffff;
}

.number-title {
  font-size: 72px;
  -webkit-text-stroke: 3px var(--color-dark);
  font-weight: 600;
  color: transparent;
  font-style: italic;
}

.img-box {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 240px;
}

.sous-title-box {
  margin-top: 30px;
}

.button-link-box {
  border: 1px solid #000;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 50px;
  font-weight: 500;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  padding: 15px 35px;
  border-radius: 10px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.button-link-box:hover {
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  transition: 0.5s;
}





