* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color-switch);
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

 /* Light Mode */
 :root {
  --color-light: #fff;
  --color-dark: #000;
  --color-light-switch: #fff;
  --color-dark-switch: #000;
  --bg-color-switch: #f6f8fa;
  --gradient-blue: linear-gradient(
    13deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  --color-blue: #0068AA;
}
 /* Dark Mode */

[data-theme="dark"] {
  --color-light-switch: #1D1D1F;;
  --color-dark-switch: #fff;
  --bg-color-switch: #1D1D1F;
}

  /* NAVBAR */
  
  .navbar {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-light-switch);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 50px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box-navbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
  }
  
  .link-navbar {
    color: var(--color-dark-switch);
    display: flex;
    float: right;
  }
  
  .link-title {
   color: var(--color-dark-switch);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    margin: 0px 60px;
    padding: 8px 0px;
    border-bottom: 1px solid transparent;
  }
  .link-title:hover {
    border-bottom: 1px solid var(--color-dark-switch);
    transition: 0.5s;
  }
  
  .logo {
    width: 70px;
    fill: var(--color-dark-switch);
  }


  /* Button Switch Dark to Light*/

.theme-switch-wrapper {
	display: flex;
	align-items: center;
	float: right;
}

.theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}
  
.theme-switch input {
	display: none;
}
  
.slider {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #CCC;
	position: absolute;
	cursor: pointer;
	transition: .4s;
}
  
.slider:before {
	height: 26px;
	width: 26px;
	bottom: 4px;
	left: 4px;
	background-color: #FFF;
	content: "";
	position: absolute;
	transition: .4s;
}
  
input:checked + .slider {
	background-color: var(--color-blue);;
}
  
input:checked + .slider:before {
	transform: translateX(26px);
}
  
.slider.round {
	border-radius: 34px;
}
  
.slider.round:before {
	border-radius: 50%;
}
  
/* MAIN BACKGROUND */

.main-background {
  background: var(--gradient-blue);
  width: 100%;
  padding: 250px 0px;
  margin-top: 70px;
}

.main-text {
  color: var(--color-light);
  letter-spacing: 0.8px;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.main-text-stroke {
  -webkit-text-stroke: 1.5px var(--color-light);
  color: transparent;
  font-size: 80px;
}

/* FLEX BOX */

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  margin: 50px 0px;
}

.box {
  width: 350px;
  margin: 20px 20px;
  border-radius: 10px;
  align-self: auto;
  padding: 30px 30px;
  background: var(--gradient-blue);
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}

.number-title {
  font-size: 72px;
  -webkit-text-stroke: 3px var(--color-light);
  font-weight: 600;
  color: transparent;
  font-style: italic;
}

.img-box {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  object-fit: contain;
}

.box-html-css {
  background: linear-gradient(
    320deg
    , #D3655D 0%, #E2A856 100%);
}
.box-js {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}
.box-design {
  background: linear-gradient(
    66.26deg
    ,#771f89 -5.22%,#834cef 46.12%,#636cea 99.41%);
}

.sous-title-box {
  padding: 60px 0px;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.button-link-box {
  padding: 10px 30px;
  display: block;
  margin: auto;
  background: transparent;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 50px;
  color: var(--color-light);
  font-weight: 500;
  font-size: 18px;
  border: 1px solid rgb(255, 255, 255);
  max-width: 250px;
}

.button-link-box:hover {
transition: 0.5s;
color: var(--color-light);
border: 1px solid var(--color-light);
background: rgb(255, 255, 255, 0.3);
}

.title-noprojects {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  color: var(--color-dark-switch);
}

.box-noprojects {
  padding: 290px 0px;
}

.button-returntohome {
  background-color: var(--color-dark-switch);
  color: var(--color-light-switch);
  display: block;
  margin: 0 auto;
  width: 390px;
  text-align: center;
  padding: 20px 60px;
  border-radius: 50px;
  font-weight: 600;
  margin-top: 50px;
}

.toggleButton {
	width: 150px;
	padding: 10px 10px;
	margin: 40px 0px 0px 40px;
	color: #FFF;
	background-color: var(--color-blue);
	border: 2px var(--color-blue);
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
  
.toggleButton:hover {
	background-color: var(--color-blue);
}

