* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-light);
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

:root {
  --color-light: #fff;
  --color-dark: #000;
  --bg-color-switch: #0d1117;
  --gradient-blue: linear-gradient(151deg, #0b2850 0, #040c21 36%);
  --color-blue: #0068aa;
}
/* NAVBAR */

.navbar {
  box-shadow: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 50px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.box-navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

.link-navbar {
  color: var(--color-light);
  display: flex;
  float: right;
}

.link-title {
  color: var(--color-light);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  display: flex;
  margin: 0px 60px;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: 50px;
}
.link-title:hover {
  border: 1px solid;
  transition: 0.5s;
}

.logo {
  width: 70px;
  margin-top: 3px;
  fill: var(--color-light);
}
  


/* MAIN BACKGROUND */

.main-background {
  background: var(--gradient-blue);
  width: 100%;
  padding: 350px 0px;
}

.main-text {
  color: var(--color-light);
  letter-spacing: 0.8px;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.main-text-stroke {
  -webkit-text-stroke: 1.5px var(--color-light);
  color: transparent;
  font-size: 80px;
}

/* FLEX BOX */

.list-inline .gallery-top-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  margin: 50px 0px;
}

.box {
  width: 350px;
  margin: 20px 20px;
  border-radius: 10px;
  align-self: auto;
  padding: 30px 30px;
  background: var(--gradient-blue);
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}

.number-title {
  font-size: 72px;
  -webkit-text-stroke: 3px var(--color-light);
  font-weight: 600;
  color: transparent;
  font-style: italic;
}

.img-box {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  object-fit: contain;
}


.sous-title-box {
  padding: 60px 0px;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.button-link-box {
  padding: 10px 30px;
  display: block;
  margin: auto;
  background: transparent;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 50px;
  color: var(--color-light);
  font-weight: 500;
  font-size: 18px;
  border: 1px solid rgb(255, 255, 255);
  max-width: 250px;
}

.button-link-box:hover {
  transition: 0.5s;
  color: var(--color-light);
  border: 1px solid var(--color-light);
  background: rgb(255, 255, 255, 0.3);
}

.title-noprojects {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  color: var(--color-dark-switch);
}

.box-noprojects {
  padding: 290px 0px;
}

.button-returntohome {
  background-color: var(--color-dark-switch);
  color: var(--color-light-switch);
  display: block;
  margin: 0 auto;
  width: 390px;
  text-align: center;
  padding: 20px 60px;
  border-radius: 50px;
  font-weight: 600;
  margin-top: 50px;
}

.toggleButton {
  width: 150px;
  padding: 10px 10px;
  margin: 40px 0px 0px 40px;
  color: #fff;
  background-color: var(--color-blue);
  border: 2px var(--color-blue);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.toggleButton:hover {
  background-color: var(--color-blue);
}

.box-filter-projects {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*----------  Container menu iso-gallery  ----------*/
.container_menu_iso {
  margin: 4rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

.container_gallery_iso {
  background-color: #fbb034;
  width: 100%;
}

.menu_iso {
  list-style: none;
  padding: 20px 15px;
  cursor: pointer;
}

.link-filter-menu {
  margin: 20px 50px 0px 0px;
  background: #0080ff;
  color: #24292f;
  border: 1px solid rgba(53, 72, 91, 0.15);
  border-radius: 50px;
  padding: 20px 70px 20px 20px;
  font-weight: 500;
  font-size: 18px;
  width: 250px;
}

.container_menu_iso .menu_iso li a:hover {
  color: #151c2f;
}


a:hover {
  text-decoration: none;
}

.row{
  margin: 40px 0px 40px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  max-width: 1200px;
}

.box-flexbox{
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  height: 800px;
}

.list-inline {
  padding: 8px 15px;
  border-radius: 50px;
  color: #ff0000;
  display: flex;
  margin: 3px 0;
}

.filter-button{
padding: 15px 35px;
border-radius: 50px;
color: #000;
border: 1px solid transparent;
font-weight: 500;
margin: 20px 20px;
font-size: 17px;
text-transform: uppercase;
}


.gallery_filter_tab{
  padding: 100px 0px 20px 0px;
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.filter-button.active {
  border: 1px solid #000;
  color: rgb(0, 0, 0);
  box-shadow: 0 2.76726px 2.21381px rgb(0 0 0 / 7%), 0 6.6501px 5.32008px rgb(0 0 0 / 4%), 0 12.5216px 10.0172px rgb(0 0 0 / 3%), 0 22.3363px 17.869px rgb(0 0 0 / 3%), 0 41.7776px 33.4221px rgb(0 0 0 / 2%), 0 100px 80px rgb(0 0 0 / 2%);
}
.filter {
  border-radius: 10px;
  box-shadow: 0 2.76726px 2.21381px rgb(0 0 0 / 7%), 0 6.6501px 5.32008px rgb(0 0 0 / 4%), 0 12.5216px 10.0172px rgb(0 0 0 / 3%), 0 22.3363px 17.869px rgb(0 0 0 / 3%), 0 41.7776px 33.4221px rgb(0 0 0 / 2%), 0 100px 80px rgb(0 0 0 / 2%);
  background-color: #f6f6f6;
  height: 400px;
  width: 350px;
  margin: 20px;
  padding: 20px 30px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}
.filter:hover .overlay {
  opacity: 0.8;
}

.button-access-project{
  border: 1px solid #000;
    color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 50px;
  padding: 15px 20px;
  font-weight: 500;
  display: block;
  margin-right: auto;
  margin-left: auto;
font-size: 15px;
  padding: 15px 35px;
  border-radius: 50px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 270px;

}
