* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-light);
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

:root {
  --color-light: #fff;
  --color-dark: #000;
  --bg-color-switch: #0d1117;
  --gradient-blue: linear-gradient(151deg, #0b2850 0, #040c21 36%);
  --color-blue: #0068aa;
}
/* NAVBAR */

.navbar {
  box-shadow: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 18px 50px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

.link-navbar {
  color: var(--color-light);
  display: flex;
  float: right;
}

.link-title {
  color: var(--color-light);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  display: flex;
  margin: 0px 60px;
  padding: 12px 0px;
  border-bottom: 1px solid transparent;
}
.link-title:hover {
  border-bottom: 1px solid #ffffff;
  transition: 0.5s;
}

.logo {
  width: 70px;
  margin-top: 3px;
  fill: var(--color-light);
}
    
  /* MAIN BACKGROUND */
  
/* MAIN BACKGROUND */

.main-background {
  background: var(--gradient-blue);
  width: 100%;
  height: 100vh;
  padding: 350px 0px;
}

.main-text {
  color: var(--color-light);
  letter-spacing: 0.8px;
  font-weight: 700;
  font-size: 50px;
  padding: 60px 0px;
  text-align: center;
}

.box-leftright{
  display: flex;
}

.main-text-weight {
  -webkit-text-stroke: 1.5px var(--color-light);
  color: transparent;
}

.box-landing{
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}


.button-link-landing {
  padding: 15px 30px;
  text-align: center;
  margin-top: 500px;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #fff;
  width: 300px;
  display: block;
  margin: 0 auto;
}


.button-link-landing:hover {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

