* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7fb;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

:root {
  --color-white: #fff;
  --color-dark: #000;
  --bg-color-switch: #0d1117;
  --gradient-blue: linear-gradient(to right, #8a2387, #e94057, #f27121);
  --color-blue: #0068aa;
}
/* NAVBAR */
.navbar {
  box-shadow: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-color: #000000;
}

.box-navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1100px;
  padding: 18px 0px;
}

.link-navbar {
  color: var(--color-white);
  display: flex;
  float: right;
  margin-top: 3px;
  font-size: 14px;
}

.link-title {
  display: flex;
  font-size: 17px;
  cursor: pointer;
  padding: 10px 0px;
  margin: 0px 30px;
  overflow: hidden;
  position: relative;
  color: inherit;
  text-decoration: none;
}

.link-title:before {
  left: 0;
  bottom: 0;
  width: 102%;
  height: 1px;
  background-color: #ffffff;
  transform: translateX(-102%);
}
.link-title:hover:before {
  transform: translateX(0);
}

.link-title:before,
a:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}

.sous-link-navbar {
  display: flex;
  color: var(--grey-dark);
  font-size: 18px;
  cursor: pointer;
  background-color: #313131;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  background-image: #fff;
  background-position: 50% 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: all 0.2s linear;
}

.sous-link-navbar:hover {
  background-size: 100% 2px;
  color: var(--white);
}

.logo {
  width: 35px;
  fill: var(--color-white);
}

/* MAIN BACKGROUND */

.box-max1200px {
  max-width: 1100px;
  margin: 0 auto;
}

.background-color {
  background-image: url("/assets/img/back-port-exo.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.main-background {
  padding: 150px 0px;
  background-color: transparent;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 75px;
}

.main-text {
  color: var(--color-dark);
  letter-spacing: 0.8px;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  padding: 50px 0px;
  color: #fff;

}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  margin: 50px 0px 0px 0px;
  max-width: 1100px;
}

.box-flexbox {
  display: block;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0px 0px 100px 0px;
}

.gallery_filter_tab {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.list-inline {
  border-radius: 10px;
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  width: 1200px;
}

.filter-button {
  padding: 15px 35px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  border: 1px solid transparent;
  font-weight: 500;
  margin: 20px 40px;
  font-size: 17px;
  text-transform: uppercase;
}

.filter-button.active {
  background-color: #000000;
  color: #ffffff;
}

.filter-button:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.5s;
}



.chevron_mobile {
  display: none;
}

@media screen and (max-width: 1010px) {
  .gallery_filter_tab {
    display: block;
    margin: 0 auto;
    width: 400px;
    padding: 50px 0px;
  }

  .list-inline {
    padding: 0px 0px;
    border-radius: 10px;
    display: flex;
    margin: 0px 20px;
    background-color: #f6f6f6;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    text-align: center;
  }

  .filter-button {
    padding: 35px 35px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    font-weight: 500;
    margin: 0px 0px;
    font-size: 17px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    display: block;
  }

  .filter-button.active {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
  }

  .filter-button:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
  }
}



.filter {

  border-radius: 10px;
  background-color: #ffffff;
  padding: 52px 30px;
  margin: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 500px;
  margin: 20px 20px;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}
.filter:hover .overlay {
  opacity: 0.8;
}

.button-access-project {
  border: 2px solid #000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 500;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  padding: 15px 35px;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 90px;
  width: 290px;
  background-color: #000000;
}

.button-access-project:hover {
  border: 2px solid #000;
  color: rgb(0, 0, 0);
  background-color: transparent;
  transition: 0.5s;
}

.title-project-box {
  font-size: 29px;
  font-weight: 600;
  text-align: center;
  margin-top: 120px;
  color: var(--color-dark-switch);
}

.box-footer {
  background: var(--color-white);
  padding: 50px 0px;
  bottom: 0;
  left: 0;
  text-align: center;
}

.title-copyright {
  color: var(--color-dark);
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}




.menu-tree{
  display: flex;
  padding: 50px 0px;
}

.separator-menu-tree{
margin: 0px 10px;
}

.link-menu-tree{
cursor: pointer;
border-bottom: 1px solid transparent ;
font-weight: 400;
color: rgb(148, 148, 148);
text-transform: uppercase;
}
.link-menu-tree:hover{
color: #000;
transition: 0.5s;

  }

.link-menu-tree-here{
color: #000 ;
}




















.main-img-project{
  background-color: var(--white);
  font-size: var(--font-size-18);
  font-weight: 700;
  color: var(--white);
  border-radius: 20px;
  max-width: 1200px;
  margin-bottom: 100px;
}

.img-project{
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 20px;
}

.button-link-extern-project{
  background-color: #000000;
  color: #fff;
  border-radius: 10px;
  padding: 30px 60px;
  font-size: 20px;
cursor: pointer;
}