* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

:root {
  --color-white: #fff;
  --color-dark: #000;
  --bg-color-switch: #0d1117;
  --gradient-blue: linear-gradient(to right, #8a2387, #e94057, #f27121);
  --color-blue: #0068aa;
}
/* NAVBAR */

.navbar {
  box-shadow: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-color: #000000;
}

.box-navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1100px;
  padding: 18px 0px;
}

.link-navbar {
  color: var(--color-white);
  display: flex;
  float: right;
  margin-top: 3px;
  font-size: 14px;
}

.link-title {
  display: flex;
  font-size: 17px;
  cursor: pointer;
  padding: 10px 0px;
  margin: 0px 30px;
  overflow: hidden;
  position: relative;
  color: inherit;
  text-decoration: none;
}

.link-title:before {
  left: 0;
  bottom: 0;
  width: 102%;
  height: 1px;
  background-color: #ffffff;
  transform: translateX(-102%);
}
.link-title:hover:before {
  transform: translateX(0);
}

.link-title:before,
a:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}

.sous-link-navbar {
  display: flex;
  color: var(--grey-dark);
  font-size: 18px;
  cursor: pointer;
  background-color: #313131;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  background-image: #FFF;
  background-position: 50% 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: all 0.2s linear;
}

.sous-link-navbar:hover {
  background-size: 100% 2px;
  color: var(--white);
}

.logo {
  width: 35px;
  fill: var(--color-white);
}

/* MAIN BACKGROUND */

/* MAIN BACKGROUND */

.box-max1100px{
  max-width: 1100px;
  margin: 0 auto;
}
.background-color{
  background-image: url("/assets/img/back-port-exo.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.main-background {
  background:transparent;


  width: 100%;
  padding: 300px 0px;
}

.img-separator {
  margin-bottom: -360px;
}

.main-text {
  color: var(--color-dark);
  letter-spacing: 0.8px;
  font-weight: 700;
  text-align: left;
  font-size: 60px;
  padding: 50px 0px;
  color: #fff;
}
.main-text-blue {
  color: #0057ff;
}

.button-extern{
  background: transparent;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

}

.button-extern:hover{
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: 2px solid #ffffff;
transition: 0.5s;

}

/* FLEX BOX */

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  background-color: transparent;
  padding: 200px 0px;
}

.box {
  width: 550px;
  margin: 20px 20px;
  border-radius: 20px;
  align-self: auto;
  padding: 40px 50px;
  background: white;
  border: 1px solid #FFF;
}



.img-box {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 240px;
}

.sous-title-box {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 500;
}

.button-link-box {
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 150px;
  background: #000;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  width: 300px;
  border: 2px solid #000;
}

.button-link-box:hover {
background-color: transparent;
border: 2px solid #000;
  transition: 0.5s;
  color: #000000;
}









.box-footer{
  background: var(--color-dark);
  padding: 50px 0px;
  bottom: 0;
  left: 0;
  text-align: center;
}

.title-copyright{
  color: var(--color-white);
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}